<!-- <footer style="background:#333;color:#fff;text-align:center;padding:20px;margin-top:50px;">
  <p>&copy; 2025 MyBlog. All rights reserved.</p>
  <p>
    <a href="/" style="color:#fff;text-decoration:none;margin:0 10px;">Home</a> |
    <a href="/posts" style="color:#fff;text-decoration:none;margin:0 10px;">Posts</a> |
    <a href="/contact" style="color:#fff;text-decoration:none;margin:0 10px;">Contact</a>
  </p>
  <p>Follow us: 
    <a href="#" style="color:#fff;text-decoration:none;margin:0 5px;">Facebook</a> |
    <a href="#" style="color:#fff;text-decoration:none;margin:0 5px;">Twitter</a> |
    <a href="#" style="color:#fff;text-decoration:none;margin:0 5px;">Instagram</a>
  </p>
</footer> -->
